* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100%;
   
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
    float:right;
    color:#fff;
}

.navbar a {
    text-decoration: none;
    color:#333
}

/* Style the navbar to be fixed at the top of the page */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     /* Change the background color to your preference */
    padding: 10px;
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);  Add a shadow for a visual effect */
    font-size:20px;
}
 .name{
    float:left;
}
img{
    height:200px;
    width:300px;
    float:left;
    top: 5px;
}


















